/*
 * Copyright (C) 2016 Freescale Semiconductor, Inc.
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License
 *     version 2 as published by the Free Software Foundation.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

#include "imx6ul-14x14-evk.dts"

/ {
	model = "Freescale i.MX6 UlltraLite 14x14 EVK Board";
	compatible = "fsl,imx6ull-14x14-evk", "fsl,imx6ull";

	beep {
		compatible = "alientek,beep";
		pinctrl-names = "default";
		pinctrl-0 = <&beep_pins>;
		beep-gpio = <&gpio5 1 GPIO_ACTIVE_LOW>;
		status = "okay";
	};

	key {
		compatible = "alientek,key";
		pinctrl-names = "default";
		pinctrl-0 = <&key_pins>;
		key-gpio = <&gpio1 18 GPIO_ACTIVE_LOW>;
		status = "okay";
	};

	led_ctrl {
		compatible = "alientek,led";
		reg = <0x020E0068 0x04    /* SW_MUX_GPIO1_IO03 */
           0x0209C000 0x04    /* GPIO1_DR          */
           0x0209C004 0x04    /* GPIO1_GDIR        */
           0x020E02F4 0x04    /* SW_PAD_GPIO1_IO03 */
           0x020C406C 0x04>;  /* CCM_CCGR1         */
		status = "okay";
	};
};

&iomuxc {
	beep_pins: beep_pins {
		fsl,pins = <
			MX6ULL_PAD_SNVS_TAMPER1__GPIO5_IO01 0x10b0
		>;
	};

	pinctrl_ecspi3: ecspi3grp {
		fsl,pins = <
			/* CS: UART2_TX_DATA → GPIO1_IO20（软件片选，低有效）*/
			MX6UL_PAD_UART2_TX_DATA__GPIO1_IO20   0x10b0
			/* SCLK */
			MX6UL_PAD_UART2_RX_DATA__ECSPI3_SCLK  0x10b1
			/* MOSI */
			MX6UL_PAD_UART2_CTS_B__ECSPI3_MOSI    0x10b1
			/* MISO */
			MX6UL_PAD_UART2_RTS_B__ECSPI3_MISO    0x10b1
		>;
	};
};



&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	ap3216c@1e {
		compatible = "alientek,ap3216c";
		reg = <0x1e>;
	};
};

/* 禁用 UART2，释放 UART2_TX/RX/CTS/RTS 引脚给 ECSPI3 使用 */
&uart2 {
	status = "disabled";
};

&ecspi3 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio1 20 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi3>;
	status = "okay";

	icm20608@0 {
		compatible = "alientek,icm20608";
		reg = <0>;
		spi-max-frequency = <8000000>;  /* 8 MHz */
	};
};

&clks {
	assigned-clocks = <&clks IMX6UL_CLK_PLL3_PFD2>;
	assigned-clock-rates = <320000000>;
};

&lcdif {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcdif_dat
		     &pinctrl_lcdif_ctrl>;
	status = "okay";
	display = <&display0>;

	display0: display { /* LCD 属性信息 */
		bits-per-pixel = <24>; /* 一个像素占用 24bit */
		bus-width = <24>; /* 总线宽度 */

		display-timings {
			native-mode = <&timing0>; /* 时序信息 */

			timing0: timing0 { 
				clock-frequency = <51200000>;/* LCD 像素时钟，单位 Hz */
				hactive = <1024>; /* LCD X 轴像素个数 */
				vactive = <600>; /* LCD Y 轴像素个数 */
				hfront-porch = <160>; /* LCD hfp 参数 */
				hback-porch = <140>; /* LCD hbp 参数 */
				hsync-len = <20>; /* LCD hspw 参数 */
				vback-porch = <20>; /* LCD vbp 参数 */
				vfront-porch = <12>; /* LCD vfp 参数 */
				vsync-len = <3>; /* LCD vspw 参数 */
				hsync-active = <0>; /* hsync 数据线极性 */
				vsync-active = <0>; /* vsync 数据线极性 */
				de-active = <1>; /* de 数据线极性 */
				pixelclk-active = <0>; /* clk 数据线先极性 */
			};
		};
	};
};